.card__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    place-items: center;
}