<section class="filter-container">
    <form class="filter-form">
        <mat-form-field class="filter-form__field-name">
            <mat-label>Busca de Usuários</mat-label>
            <input matInput placeholder="Digite o nome do Usuário">
        </mat-form-field>

        <mat-form-field class="filter-form__field-date">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="filter-form__field-status">
            <mat-label>Status</mat-label>
            <mat-select>
                <mat-option *ngFor="let status of statuses" [value]="status.value">
                    {{status.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button class="filter-form__button" mat-raised-button color="primary">Filtrar</button>
    </form>
</section>