<form class="filter-container">
    <div class="filter-form">
        <mat-form-field class="filter-form__field-name">
            <mat-label>Busca de Usuários</mat-label>
            <input [formControl]="nameControl" matInput placeholder="Digite o nome do Usuário">
        </mat-form-field>

        <mat-form-field class="filter-form__field-date">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input [formControl]="startDateControl" matStartDate placeholder="Start date">
                <input [formControl]="endDateControl" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="filter-form__field-status">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="statusControl">
                <mat-option *ngFor="let status of statusList" [value]="status.value">
                    {{status.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>