<section class="container">
  <div class="left-container">
    <div class="top-div">
      <app-filter (onFilterApplied)="handleFilterApplied($event)"></app-filter>

    </div>
    <div class="main-left-div">
      <app-users-list [usersList]="usersList" (onUserSelected)="handleUserSelected($event)"></app-users-list>
    </div>
  </div>
  
  <div class="right-container">
    <app-user-details [user]="selectedUser" *ngIf="hasUser"></app-user-details>
  </div>
</section>
<router-outlet></router-outlet>
