<div class="user-details">
    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">
                Detalhes do Usuário
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span>
            <span class="mat-h3">Keidson</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Email: </span>
            <span class="mat-h3">Keidsondevgmail.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Telefone: </span>
            <span class="mat-h3">(92) 9 9999-9999</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Endereço: </span>
            <span class="mat-h3">Rua das flores, 42, São Paulo - SP</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Ativo: </span>
            <span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Função: </span>
            <span class="mat-h3">Desenvolvedor</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data de cadastro: </span>
            <span class="mat-h3">04/01/2024</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>